.BasketPage {
    box-sizing: border-box;
    width: 1400px;
    border-radius: 20px;
    background-color: #fff;
    font-family: 'Nunito';
}

h3 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.content {
    padding: 40px 0;
}

.content__title {
    margin: 35px 0;
}

.content__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container--cart {
    max-width: 820px;
    margin: 90px auto;
}

.Backet--circle span {
    font-size: 25px;
}

.Backet--circle {
    background-color: inherit;
    border: 3px solid lightgray;
    padding: 5px 12px;
    transform: rotate(45deg);
    border-radius: 50px;
    color: lightgray;
}

.container--cart .content__title {
    margin: 0;
}

.cart__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.cart .Bascket--svg {
    position: relative;
    top: -2px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.cart path {
    stroke: black;
    stroke-width: 1.9;
}

.cart__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sort--span {
    display: inline-block;
    margin-left: 7px;
    color: #b6b6b6;
    font-size: 18px;
    background-color: inherit;
    border: none;
}

.sort--span,
.Bascket--svg,
path {
    transition: all 0.4 ease-in-out;
}

.sort--span,
.Bascket--svg,
path:hover .Bascket--svg path {
    stroke: #b6b6b6;
}

.sort--span {
    color: #b6b6b6;
}

.cart__item {
    display: flex;
    width: 100%;
    border-top: 1px solid #f6f6f6;
    padding-top: 30px;
    margin-top: 30px;
}

.cart__item-img {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 10%;

}

.cart__item-img img {
    width: 80px;
    height: 80px;
}

.cart__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.cart__item-info h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.01em;
}

.cart__item-info p {
    font-size: 16px;
    color: #8d8d8d;
}


.cart__item-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
}


.cart__item-count-minus .Bascket--svg path:first-of-type {
    display: none;
}


b {
    font-size: 22px;
}


.cart__item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.cart__item-price b {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.01em;
}

.cart__item-remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4%;
}

.cart__item-remove .button {
    border-color: lightgrey;
}



.Bascket--svg {
    transform: rotate(45deg);

}

.Bascket--svg path {
    fill: #f6f6f6
}

.button .Bascket--svg {
    width: 11.5px;
    height: 11.5px;
    position: relative;
}

.button .Bascket--svg:hover,
.button .Bascket--svg:active {
    border-color: #f6f6f6;
    background-color: #f6f6f6;
}

.cart__bottom {
    margin: 50px 0;
}

.cart__bottom-details {
    display: flex;
    justify-content: space-between;
}

.cart__bottom-details .sort--span {
    font-size: 22px;
}

.cart__bottom-details .sort--span .sort--span .cart__bottom-details span:last-of-type b {
    color: red;
}

.cart__bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.cart__bottom-buttons .go-back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;

    border-color: #f6f6f6;
}

.cart__item-count-minus .cart__bottom-buttons .go-back-btn span {
    color: #f6f6f6;
    font-weight: 600;
}

.cart__bottom-buttons .go-back-btn:hover {
    background-color: #f6f6f6;
    border-color: #f6f6f6
}

.cart__bottom-buttons .go-back-btn .sort--span {
    color: #f6f6f6;
}

.cart__bottom-buttons .go-back-btn .sort--span .sort--span .cart__bottom-buttons .go-back-btn .Bascket--svg {
    margin-right: 12px;
}

.cart__bottom-buttons .go-back-btn .Bascket--svg path {
    fill: transparent;
    stroke-width: 2;
}

.pay-btn {
    font-size: 16px;
    font-weight: 600;
    width: 210px;
    padding: 16px;
}


.Bascket--svg {
    transform: rotate(0deg);
}

.empty--card {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exit--button {
    background-color: black;
    color: white;
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    font-family: 'Nunito';
    transition: 0.4s;
}

.exit--button:hover {
    background-color: rgb(69, 61, 61);
}

.cart__item-count-minus {
    font-size: 25px;
}

.cart__item-count-plus {
    font-size: 20px;
}

b {
    color: black;
}

.button {
    cursor: pointer;
}